<header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" alt="oneVasco" class="img-responsive"></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
          <li>
                        <a class="left-list-li active"><i class="fa fa-shopping-cart fs-24" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a class="left-list-li"><i class="fa fa-bar-chart fs-24" aria-hidden="true"></i></a>
                    </li>
                    <li><a  class="left-list-li"><i class="fa fa-wrench fs-24" aria-hidden="true"></i></a></li>
                    <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog fs-24"></i></a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="fa fa-table"></i> Super Admin</a></li>
                <li><a href="#"><i class="fa fa-table"></i> Dashboard</a></li>
                <li><a href="#"> <i class="fa fa-lock"></i> Reset Password</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#"><i class="fa fa-power-off "></i> Logout</a></li>
              </ul>
            </li>
          <li class="pt-12"><span data-letters="MN" class="data-letter">Selvakumar P</span></li>
            
          </ul>
        </div>
      </div>
    </nav>
</header>